.Blob {
    width: var(--size);
    height: var(--size);

}

.Blob._topLeft {
    left: calc(0px - var(--size) / 2);
    top: calc(0px - var(--size) / 2);
}
.Blob._topRight {
    right: calc(0px - var(--size) / 2);
    top: calc(0px - var(--size) / 2);
}
.Blob._bottomLeft {
    left: calc(0px - var(--size) / 2);
    bottom: calc(0px - var(--size) / 2);
}
.Blob._bottomRight {
    right: calc(0px - var(--size) / 2);
    bottom: calc(0px - var(--size) / 2);
}
